---
# Determine Galaxy version

# Currently only used by mutable config setup but placed in an include because it'll probably be used by more

- name: Collect Galaxy version file
  ansible.builtin.slurp:
    src: "{{ galaxy_server_dir }}/lib/galaxy/version.py"
  register: __galaxy_version_file
  when:
    - galaxy_server_dir is defined
    - galaxy_version is not defined or galaxy_version == ''
  failed_when: false

- name: Determine Galaxy version
  ansible.builtin.set_fact:
    galaxy_version: >-
        {{
            (__galaxy_version_file['content'] | b64decode).splitlines()
                | select('match', 'VERSION_MAJOR\s*=.*') | first
                | regex_replace('^[^\d]+([.\d]+).*', '\1')
        }}
  when: __galaxy_version_file is not skipped

- name: Show galaxy version
  ansible.builtin.debug:
    msg: "Installing extensions for Galaxy version {{ galaxy_version }}"
